BatchelorService/web/WEB-INF/wsit-se.uu.bmc.it.batchelor.soap.BatchelorSoapService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BatchelorSoapServiceService" targetNamespace="http://soap.batchelor.it.bmc.uu.se/" xmlns:tns="http://soap.batchelor.it.bmc.uu.se/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service"
 >
    <message name="version"/>
    <message name="versionResponse"/>
    <message name="RemoteException"/>
    <message name="enqueue"/>
    <message name="enqueueResponse"/>
    <message name="dequeue"/>
    <message name="dequeueResponse"/>
    <message name="queue"/>
    <message name="queueResponse"/>
    <message name="watch"/>
    <message name="watchResponse"/>
    <message name="suspend"/>
    <message name="suspendResponse"/>
    <message name="resume"/>
    <message name="resumeResponse"/>
    <message name="opendir"/>
    <message name="opendirResponse"/>
    <message name="readdir"/>
    <message name="readdirResponse"/>
    <message name="fopen"/>
    <message name="fopenResponse"/>
    <message name="stat"/>
    <message name="statResponse"/>
    <portType name="BatchelorSoapService">
        <operation name="version">
            <input message="tns:version"/>
            <output message="tns:versionResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="enqueue">
            <input message="tns:enqueue"/>
            <output message="tns:enqueueResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="dequeue">
            <input message="tns:dequeue"/>
            <output message="tns:dequeueResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="queue">
            <input message="tns:queue"/>
            <output message="tns:queueResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="watch">
            <input message="tns:watch"/>
            <output message="tns:watchResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="suspend">
            <input message="tns:suspend"/>
            <output message="tns:suspendResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="resume">
            <input message="tns:resume"/>
            <output message="tns:resumeResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="opendir">
            <input message="tns:opendir"/>
            <output message="tns:opendirResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="readdir">
            <input message="tns:readdir"/>
            <output message="tns:readdirResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="fopen">
            <input message="tns:fopen"/>
            <output message="tns:fopenResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
        <operation name="stat">
            <input message="tns:stat"/>
            <output message="tns:statResponse"/>
            <fault name="RemoteException" message="tns:RemoteException"/>
        </operation>
    </portType>
    <binding name="BatchelorSoapServicePortBinding" type="tns:BatchelorSoapService">
        <wsp:PolicyReference URI="#BatchelorSoapServicePortBindingPolicy"/>
        <operation name="version">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="enqueue">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="dequeue">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="queue">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="watch">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="suspend">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="resume">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="opendir">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="readdir">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="fopen">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
        <operation name="stat">
            <input/>
            <output/>
            <fault name="RemoteException"/>
        </operation>
    </binding>
    <service name="BatchelorSoapServiceService">
        <port name="BatchelorSoapServicePort" binding="tns:BatchelorSoapServicePortBinding"/>
    </service>
    <wsp:Policy wsu:Id="BatchelorSoapServicePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
