BatchelorClient/src/META-INF/batchelor-soap-service.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.batchelor.it.bmc.uu.se/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.batchelor.it.bmc.uu.se/" name="BatchelorSoapServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.batchelor.it.bmc.uu.se/" schemaLocation="http://localhost:8080/BatchelorService/BatchelorSoapService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="enqueue">
<part name="parameters" element="tns:enqueue"></part>
</message>
<message name="enqueueResponse">
<part name="parameters" element="tns:enqueueResponse"></part>
</message>
<message name="queue">
<part name="parameters" element="tns:queue"></part>
</message>
<message name="queueResponse">
<part name="parameters" element="tns:queueResponse"></part>
</message>
<message name="version">
<part name="parameters" element="tns:version"></part>
</message>
<message name="versionResponse">
<part name="parameters" element="tns:versionResponse"></part>
</message>
<message name="dequeue">
<part name="parameters" element="tns:dequeue"></part>
</message>
<message name="dequeueResponse">
<part name="parameters" element="tns:dequeueResponse"></part>
</message>
<message name="watch">
<part name="parameters" element="tns:watch"></part>
</message>
<message name="watchResponse">
<part name="parameters" element="tns:watchResponse"></part>
</message>
<portType name="BatchelorSoapService">
<operation name="enqueue">
<input message="tns:enqueue"></input>
<output message="tns:enqueueResponse"></output>
</operation>
<operation name="queue">
<input message="tns:queue"></input>
<output message="tns:queueResponse"></output>
</operation>
<operation name="version">
<input message="tns:version"></input>
<output message="tns:versionResponse"></output>
</operation>
<operation name="dequeue">
<input message="tns:dequeue"></input>
<output message="tns:dequeueResponse"></output>
</operation>
<operation name="watch">
<input message="tns:watch"></input>
<output message="tns:watchResponse"></output>
</operation>
</portType>
<binding name="BatchelorSoapServicePortBinding" type="tns:BatchelorSoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="enqueue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="version">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dequeue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="watch">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BatchelorSoapServiceService">
<port name="BatchelorSoapServicePort" binding="tns:BatchelorSoapServicePortBinding">
<soap:address location="http://localhost:8080/BatchelorService/BatchelorSoapService"></soap:address>
</port>
</service>
</definitions>