BatchelorClient/src/META-INF/batchelor-xlink.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://it.bmc.uu.se/batchelor/xlink/200901"
    xmlns:tns="http://it.bmc.uu.se/batchelor/xlink/200901"
    elementFormDefault="qualified">
    <xsd:attribute name="type" type="xsd:ENTITY" fixed="simple"/>
    <xsd:element name="simple" type="xsd:anyType"></xsd:element>
    <xsd:attribute name="href" type="xsd:string"/>
    <xsd:attribute name="role" type="xsd:string"/>
    <xsd:attribute name="arcrole" type="xsd:string"/>
    <xsd:attribute name="title" type="xsd:string"/>
    <xsd:simpleType name="show">
        <xsd:list itemType="xsd:string"/>
    </xsd:simpleType>
    <xsd:attribute name="show" type="tns:show"/>
</xsd:schema>