BatchelorClient/src/META-INF/batchelor-rest-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  Web service library for the Batchelor batch job queue.
  Copyright (C) 2009 by Anders Lövgren and the Computing Department at BMC,
  Uppsala University.

  Send questions, suggestions, bugs or comments to:
  Anders Lövgren (lespaul@algonet.se or anders.lovgren@bmc.uu.se)

  For more info: http://it.bmc.uu.se/andlov/proj/batchelor/

  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  The XML Schema Definition (XSD) for the REST web service describing
  the response message (result) wrapping up error message or object data.
  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  Author: Anders Lövgren
  Date:   2009-04-17
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://it.bmc.uu.se/batchelor/rest/200901"
    xmlns:tns="http://it.bmc.uu.se/batchelor/rest/200901"
    xmlns:xlink="http://it.bmc.uu.se/batchelor/xlink/200901">
    <!-- TODO: The XLink schema should be published to a server. -->
    <xsd:import schemaLocation="batchelor-rest-xlink.xsd" namespace="http://it.bmc.uu.se/batchelor/xlink/200901"/>

    <!-- The type of encoding of data: -->
    <xsd:attribute name="encoding">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="base64"/>
                <xsd:enumeration value="binary"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>

    <!-- The response message status: -->
    <xsd:attribute name="state">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="success"/>
                <xsd:enumeration value="failed"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>

    <!-- The response message type: -->
    <xsd:attribute name="type">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="version"/>
                <xsd:enumeration value="status"/>
                <xsd:enumeration value="error"/>
                <xsd:enumeration value="job"/>
                <xsd:enumeration value="link"/>
                <xsd:enumeration value="file"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>

    <!-- The error origin: -->
    <xsd:attribute name="origin">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="remote"/>
                <xsd:enumeration value="local"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>

    <!-- The HTTP request method type: -->
    <xsd:attribute name="get" type="xsd:string"/>
    <xsd:attribute name="post" type="xsd:string"/>
    <xsd:attribute name="delete" type="xsd:string"/>
    <xsd:attribute name="put" type="xsd:string"/>

    <!-- Grouping of HTTP request method types: -->
    <xsd:attributeGroup name="request">
        <xsd:attribute ref="tns:delete"/>
        <xsd:attribute ref="tns:get"/>
        <xsd:attribute ref="tns:post"/>
        <xsd:attribute ref="tns:put"/>
    </xsd:attributeGroup>

    <!-- File object type: -->
    <xsd:complexType name="file">
        <xsd:sequence>
            <xsd:element name="content" type="xsd:string" minOccurs="0"/>
            <xsd:element name="input-stream" type="xsd:anyType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute ref="tns:encoding"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="size" type="xsd:long"/>
    </xsd:complexType>

    <!-- Error object type: -->
    <xsd:complexType name="error">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="tns:origin" default="remote"/>
    </xsd:complexType>

    <!-- Job object type: -->
    <xsd:complexType name="job">
        <xsd:sequence>
            <xsd:element name="jobid" type="xsd:string"/>
            <xsd:element name="finished" type="xsd:int"/>
            <xsd:element name="stdout" type="xsd:int"/>
            <xsd:element name="started" type="xsd:int"/>
            <xsd:element name="queued" type="xsd:int"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="result" type="xsd:int"/>
        </xsd:sequence>
        <xsd:attribute name="timezone" type="xsd:string"/>
    </xsd:complexType>

    <!-- Resource link object type: -->
    <xsd:complexType name="link">
        <xsd:attributeGroup ref="tns:request"/>
        <xsd:attribute ref="xlink:href" use="required"/>
    </xsd:complexType>

    <!-- The result wrapper object type: -->
    <xsd:element name="result">
        <xsd:complexType>
            <xsd:sequence>
                <!-- Simple string messages: -->
                <xsd:element name="version" type="xsd:string" minOccurs="0"/>
                <xsd:element name="status" type="xsd:string" minOccurs="0"/>
                <!-- Complex types embedded: -->
                <xsd:element name="error" type="tns:error" minOccurs="0"/>
                <xsd:element name="job" type="tns:job" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element name="link" type="tns:link" maxOccurs="unbounded" minOccurs="0"/>
                <xsd:element name="file" type="tns:file" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute ref="tns:state" use="required"/>
            <xsd:attribute ref="tns:type" use="required"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
