BatchelorClient/xml-resources/web-service-references/BatchelorSoapService/wsdl/localhost_8080/BatchelorService/BatchelorSoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.batchelor.it.bmc.uu.se/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.batchelor.it.bmc.uu.se/" name="BatchelorSoapServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.batchelor.it.bmc.uu.se/" schemaLocation="http://localhost:8080/BatchelorService/BatchelorSoapService?xsd=1" />
</xsd:schema>
</types>
<message name="enqueue">
<part name="parameters" element="tns:enqueue" />
</message>
<message name="enqueueResponse">
<part name="parameters" element="tns:enqueueResponse" />
</message>
<message name="queue">
<part name="parameters" element="tns:queue" />
</message>
<message name="queueResponse">
<part name="parameters" element="tns:queueResponse" />
</message>
<message name="resume">
<part name="parameters" element="tns:resume" />
</message>
<message name="resumeResponse">
<part name="parameters" element="tns:resumeResponse" />
</message>
<message name="suspend">
<part name="parameters" element="tns:suspend" />
</message>
<message name="suspendResponse">
<part name="parameters" element="tns:suspendResponse" />
</message>
<message name="version">
<part name="parameters" element="tns:version" />
</message>
<message name="versionResponse">
<part name="parameters" element="tns:versionResponse" />
</message>
<message name="dequeue">
<part name="parameters" element="tns:dequeue" />
</message>
<message name="dequeueResponse">
<part name="parameters" element="tns:dequeueResponse" />
</message>
<message name="watch">
<part name="parameters" element="tns:watch" />
</message>
<message name="watchResponse">
<part name="parameters" element="tns:watchResponse" />
</message>
<message name="opendir">
<part name="parameters" element="tns:opendir" />
</message>
<message name="opendirResponse">
<part name="parameters" element="tns:opendirResponse" />
</message>
<message name="readdir">
<part name="parameters" element="tns:readdir" />
</message>
<message name="readdirResponse">
<part name="parameters" element="tns:readdirResponse" />
</message>
<message name="fopen">
<part name="parameters" element="tns:fopen" />
</message>
<message name="fopenResponse">
<part name="parameters" element="tns:fopenResponse" />
</message>
<message name="stat">
<part name="parameters" element="tns:stat" />
</message>
<message name="statResponse">
<part name="parameters" element="tns:statResponse" />
</message>
<portType name="BatchelorSoapService">
<operation name="enqueue">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/enqueueRequest" message="tns:enqueue" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/enqueueResponse" message="tns:enqueueResponse" />
</operation>
<operation name="queue">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/queueRequest" message="tns:queue" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/queueResponse" message="tns:queueResponse" />
</operation>
<operation name="resume">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/resumeRequest" message="tns:resume" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/resumeResponse" message="tns:resumeResponse" />
</operation>
<operation name="suspend">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/suspendRequest" message="tns:suspend" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/suspendResponse" message="tns:suspendResponse" />
</operation>
<operation name="version">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/versionRequest" message="tns:version" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/versionResponse" message="tns:versionResponse" />
</operation>
<operation name="dequeue">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/dequeueRequest" message="tns:dequeue" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/dequeueResponse" message="tns:dequeueResponse" />
</operation>
<operation name="watch">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/watchRequest" message="tns:watch" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/watchResponse" message="tns:watchResponse" />
</operation>
<operation name="opendir">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/opendirRequest" message="tns:opendir" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/opendirResponse" message="tns:opendirResponse" />
</operation>
<operation name="readdir">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/readdirRequest" message="tns:readdir" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/readdirResponse" message="tns:readdirResponse" />
</operation>
<operation name="fopen">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/fopenRequest" message="tns:fopen" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/fopenResponse" message="tns:fopenResponse" />
</operation>
<operation name="stat">
<input wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/statRequest" message="tns:stat" />
<output wsam:Action="http://soap.batchelor.it.bmc.uu.se/BatchelorSoapService/statResponse" message="tns:statResponse" />
</operation>
</portType>
<binding name="BatchelorSoapServicePortBinding" type="tns:BatchelorSoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="enqueue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="queue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="resume">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="suspend">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="version">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dequeue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="watch">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="opendir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="readdir">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="fopen">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="stat">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BatchelorSoapServiceService">
<port name="BatchelorSoapServicePort" binding="tns:BatchelorSoapServicePortBinding">
<soap:address location="http://localhost:8080/BatchelorService/BatchelorSoapService" />
</port>
</service>
</definitions>